.notes__main-content {
  padding: 30px;
}

.notes__appbar {
  padding-bottom: 28px;
  flex-wrap: wrap;
}

.notes__appbar h2 {
  font-size: 22px;
  color: #fff;
  flex-shrink: 0;
  margin-right: 16px;
  font-weight: 600;
}

.notes__appbar > div button {
  width: 124px;
  background-color: #fff;
  color: $primary;
}

.notes__appbar > div button:first-child {
  margin-right: 22px;
}

.notes__add-note {
  height: 100%;
}

.notes__add-note input,
.notes__add-note textarea {
  background-color: transparent;
  font-size: 24px;
  color: $dark-grey;
  &:focus {
    outline: none;
  }
}

.notes__add-note input {
  margin-bottom: 24px;
}

.notes__add-note textarea {
  display: inline-block;
  resize: none;
  height: 100%;
  margin-bottom: 18px;
}

.notes__add-note .note-image {
  height: 150px;
  margin-bottom: 18px;
}

@media screen and (max-width: 920px) {
  .notes__appbar h2 {
    margin-bottom: 16px;
  }
}
